html { background-color: black; }

body {
  font-family: "Open sans", Georgia, serif;
  background-color: #000;
  color : #eee;
  margin : 0 auto;
  letter-spacing: 0.05em;
}

h1 {
  font-weight: lighter;
  letter-spacing: 0.05em; 
  color: #bac;
}
h2 { 
  font-weight: lighter;
  font-size: 1.7em;
  font-style: italic;
  color: #888;
}

.container {
  text-align: center;
  position : relative;
}

p {
  margin : 40px auto;
  width : 80%;
  text-align: center;
  position : relative;
}

#canvas {
  width: 90%;
  height: 800px;
  border: 2px solid #888;
  margin: 0 auto;
  background-size: 20px 20px;
  background-image: radial-gradient(circle, #555 1px, #222 1px);
}

button {
  background: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.1em;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
  line-height: 35px;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  border: 4px solid #222;
  box-shadow: 0px 0px 0px 1px #222 inset;
  background-color: #222;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
button:hover {
  border: 4px solid #666;
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #eee inset;
}
button span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
button:hover span{
  letter-spacing: 0.13em;
  color: #333;
}
button:after {
  background: #fff;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}
button:hover:after {
  background: #fff;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.groupe {
  position: relative;
  padding: 10px 0 0;
  margin-left: 10%;
  margin-right: 10%;
}
input::placeholder{
  font-style: italic;
  font-size: 0.8em;
  color: #aca;
}
input[type=number] {
  -moz-appearance: textfield;
}
input {
  width: 200px;
  border: 0;
  border-bottom: 2px solid #888;
  font-size: 1em;
  color: #888;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

label {
  position: relative;
  display: block;
  transition: 0.2s;
  font-size: 1.3em;
  color: #555;
}

input:focus {
  padding-bottom: 6px;  
  font-weight: 500;
  border-width: 3px;
  border-image-slice: 1;
}

#nom, #longueur, #largeur { color: #cfc; }

* { box-sizing: border-box; }
.page { display: none; }
.default { display:block; }
:target { display:block; }
:target ~ .default { display:none; }

footer {
  border-top: 1px solid #555;
  position: fixed;
  font-size: 0.8em;
  width : 100%;
  text-align : center;
  background-color : #111;
  padding : 6px;
  bottom: 0px;
}
footer a{ 
  color : #fff;
  text-decoration : none; 
}
footer a:hover{ 
  color : #ccc; 
}

@media all and (max-width : 1024px) {	
  body { font-size : 0.8em; }
} 