/*** MISE EN FORME DE L'ECRITURE DANS LE CORPS PRINCIPALE ***/
body {
  font-family: "Open sans", Georgia, serif;
  color : #EEEEEE;
  background: #444440;
}

.container{
  position: relative;
  text-align: center;
  margin: 0 auto;
  border-radius: 6px;
  padding: 10px 20px 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, .6);
}

/* Aspect des checkbox */
.box {
  cursor: pointer;
	-webkit-appearance: none;
	background-color: #5f5f5f;
	border: 1px solid #cacece;
  padding: 7px;
  top: 5px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.box:checked {
	background-color: #0bac20;
	border: 1px solid #adb8c0;
}
.box:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -3px;
	left: 2px;
	color: #2e3031;
}

button {
  cursor: pointer;
  background-color: #202020;
  width: auto;
  padding: 6px;
  font-family: "Open sans", Georgia, serif;
  color: white;
  font-size: 15px;
  transition: 0.6s ease;
}

th {
	background-color: #477448;
	height: 25px;
}

tr { background-color: #303030; }
/* Coloration différente d'une case sur 2 du tableau */
tr:nth-child(even) { background-color: #202020; }
tr:hover { background-color: #505050; }

table {
  width: 50%;
  border: 2px solid gray;
  border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
}

/*** DEFINITION DE TEXTES PARTICULIERS ***/
/* Gros titres */
h1, h3 { text-align: center; }
/* Liens à séléctionner */
a {
  text-decoration: none;
  color : #d36420;
}

/*** ADAPTATION DE LA MISE EN FORME A DES REOLUTIONS D'ECRAN DIFFERENTES ***/
@media all and (max-width : 1024px) {	
	
  /*** REMISE EN FORME DE LA TAILLE DE LA POLICE DANS LE CORPS PRINCIPAL ***/
  body { font-size : 0.8em; }
} 