<!-- Permet de définir les éléments que l'utilisateur souhaite chercher !-->
<filtre>
    <p>
        <!-- Cases à cocher !-->
        &ensp;<input type="radio" name="selection" class="selection" 
            id={props.filtrage}>
        <!-- Légendes correspondantes aux cases à cocher !-->
        &ensp;<span for={props.filtrage}>{props.legende}</span>
    </p>
</filtre>