<tri>
	<p>
		&ensp;<input type="radio" name="ordre" value="abc" id="0" class="selection"
			onchange={action_classer}>&ensp; Tri alphabétique
	</p>
	<p>
		&ensp;<input type="radio" name="ordre" value="cba" id="1" class="selection"
			onchange={action_classer}>&ensp; Tri Inverse
	</p>
</tri>